html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.nmp{
    margin: 0;
    padding: 0;
}


.contact-container{
    position: absolute;
    top:12%;
    width: 80%;
    height: 100%;
    margin: 0 10% 2% 10%;
}

.heading{
    font-size: 42px;
}

hr{background: #000;}

.contact-card{
    display: inline-block;
    width: 40%;
    height: 60%;
    margin: 3% 4.5%;
    padding: 0;
    /* background: #000; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 20px #000;
}

.cc-container{
    width:100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
    /* background: grey; */
}

.cc-pic{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:102%;
    height: 102%;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
    /* background: #0575E6; 
     background: -webkit-linear-gradient(to left, #021B79, #0575E6);
     background: linear-gradient(to left, #021B79, #0575E6); */

    background: #bdc3c7;   
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
}

.contact-img{
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 5px;
}

.contact-name{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
}

.overlay{
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 300ms ease-in-out;
}

.cc-info{
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    width: 92%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    padding: 4%;
    border-radius: 0px 0px 12px 12px;
    transition: left 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cc-container:hover .cc-info{
    left: 0%;
}

.cc-container:hover .overlay{
    left: 0%;
}

.grey{color: rgb(216, 213, 213);}

.cc-info p{
    font-weight: bold;
    width: 100%;
}

.label, .social-link{
    font-weight: 550;
    color: rgb(19, 69, 163);
    font-size: 20px;
}

.social{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.social-link{
    text-decoration: none;
    margin: 0px 5px;
}

.copy{
    float: right;
    color: rgba(0, 0, 0, 0.8);
}

.copy:hover{
    color: #000;
    cursor: pointer;
}

.social-link:hover{
    color: rgb(8, 45, 114);
    cursor: pointer;
}

.copy-text{
    display: none;
}

.footer{
    width: 80%;
    height: 20%;
    position: absolute;
    top: 99%; 
    left: 10%;
    background: rgb(16, 92, 180);
    border-radius: 12px 12px 0px 0px;
    margin: 0;
    padding: 0;
}

.container_img{
    width: 100%;
    height: 70%;
    margin: 0;
    
    text-align: center;
}

.container_img img{
    width: 10%;
    height: 80%;
    display: inline-block;
    margin: 10px 5%;
    border-radius: 10px;
    background: #fff;
}

@media screen and (max-width: 1110px){
    .contact-card{
        width: 100%;
        margin: 3% 0%;
    }
    .copy-text{display: inline;}
    .footer{
        top: 170%;
    }
}

@media screen and (max-width:768px){
    .container_img img{
        width: 20%;
    }
}





