.footer{
    width: 80%;
    height: 20%;
    position: relative;
    top: 99%; 
    left: 10%;
    background: rgb(16, 92, 180);
    border-radius: 12px 12px 0px 0px;
    margin: 0;
    padding: 0;
}

.container_img{
    width: 100%;
    height: 70%;
    margin: 0;
    
    text-align: center;
}

.container_img img{
    width: 10%;
    height: 80%;
    display: inline-block;
    margin: 10px 5%;
    border-radius: 10px;
}

@media screen and (max-width: 1110px){
    .contact-card{
        width: 100%;
        margin: 3% 0%;
    }
    .copy-text{display: inline;}
    .footer{
        top: 170%;
    }
}