html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #d6d6d6;
}

.container-main{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    position: relative;
    background: #000;
    overflow: hidden;
}

.swiper-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0575E6;
}

.swiper-wrapper, .swiper-slide{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

span,p{
    margin: 0;
    padding: 0;
}

.diff, .first-letter{
    color: rgb(15, 79, 139);
}

.slide{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#slide-1{
    background: #4facfe;
    background: -webkit-linear-gradient(to right, #4facfe 0%, #00f2fe 100%);  
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); 

}

#slide-2{
    background-image: url('../assets/img/coding_bg.jpeg');
}

#slide-3{
    background-image: url('../assets/img/model_making_bg.jpg');
}

#slide-4{
    background-image: url('../assets/img/quiz_bg.jpeg');
}

#slide-5{
    margin-top:0;
    top:0;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6); 
}

.slider-content-1{
    width: 80%;
    padding: 10px;
    color: #fff;
    position: relative;
    top: 25%;
    left: 10%;
}

.slider-content-1 span{
    text-align: center;
    font-size: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.slider-content-1 p{
    text-align: center;
    margin-top: 2rem;
    font-size: 28px;
}

.slider-content{
    width: 40%;
    padding: 10px;
    /* background: #000; */
    position: relative;
    top: 25%;
    left: 5%;
    color: #fff;
}

.slider-content span{
    font-size: 3rem;
    text-align: left;
}

.slider-content p{
    margin-top: 1rem;
}

.slider-content-5{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.what-next{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 76px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;      
}

.register-div{
    position:absolute;
    top:25%;
    left:12.5%;
    width:30%;
    padding: 2.5%;
    box-shadow: #000 1px 1px 10px;
    height: 30%;
    background: #fff;
    border-radius: 10px;
}

.gallery-div{
    position:absolute;
    top:35%;
    left:52.5%;
    width:30%;
    padding: 2.5%;
    height: 30%;
    box-shadow: #000 1px 1px 10px;
    background: #fff;
    border-radius: 10px;
}

.register-div .container, .gallery-div .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.register-div .container span, .gallery-div .container span{
    display: inline-block;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
}

.register-div .container a, .gallery-div .container a{
    display:inline-block;
    position: absolute;
    bottom:0;
    left:0;
    padding: 3% 10%;
    background: rgb(13, 69, 160);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

.register-div .container a:hover, .gallery-div .container a:hover{
    background: rgb(2, 25, 128);
}

.ps_btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 12px;
    border-radius: 8px;
    background: rgb(11, 128, 196);
    text-decoration: none;
    color: #fff;
}

.ps_btn:hover{
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
}


