@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf)
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../assets/fonts/montserrat/Montserrat-Black.ttf)
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/montserrat/Montserrat-SemiBold.ttf)
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/montserrat/Montserrat-Medium.ttf)
}

.nav-btn, .nav-btn-close{
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 2rem;
    z-index: 3;
    color: #fff;
}


.logo{
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 1%;
    width: 30%;
    height: 12%;
}


.navbar{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    /* background: rgb(16, 92, 180); */
    background: rgb(47, 43, 109);
    border-radius: 0px 0px 10px 10px;
}

.nav-btn-close{z-index:4;}

.nav-btn:hover, .nav-btn-close:hover{cursor: pointer;}

.nbtn-vis{display: block;}

.nbtn-hid{display:none;}

.closebtn-hid{display:none;}

.closebtn-vis{display:block;}

.nav-bar{
    position:fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: right 300ms;
}

.nav-container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu{
    width: 100%;
    font-size: 42px;
    text-align: center;
    color: #fff;
    font-family: Montserrat-Black;    
}

.list-item{
    display: inline-block;
    width: 40%;
    margin: 10px 30%;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid #000;
    border-radius: 10px;
    font-family: Montserrat-SemiBold;

}

.open{
    right: 0;
}

.close{
    right: -100%;
}

.list-item:hover{
    border-color: rgb(47, 43, 109)  !important;
}

.list-item:first-child{
    margin-top: 15%;
}


@media screen and (max-width: 768px){
    .logo{
        width: 50%;
    }
}
