body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.list-item {
  text-decoration: none;
}
.list-item:hover {
  color: #fff;
  text-decoration: none;
}
#registrationForm > button {
  display: flex;
  border-radius: 20px;
}
hr {
  background-color: #fff;
}
.alert {
  display: none;
}
.head {
  margin-top: 7rem;
  font-size: 4.1rem;
  font-family: "Francois One", sans-serif;
  color: #fff;
}
.jumbotron {
  padding: 0 35px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 4.5rem;
  background-color: #fff;
}
.form-group {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 20px;
}
.form-group > input,
.form-group > select {
  border: none;
  background-color: #f7f7f7;
}
.form-control:focus {
  border: none;
  box-shadow: none;
  background-color: #f7f7f7;
}
#member1,
#member2,
#member3,
#member4,
#member5 {
  display: none;
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
